*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #222;
}

h1{
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 3em;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card{
    height: 200px;
    border: 2px solid #fff;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
}

.card h3{
    font-size: 1.8em;
}

.card h3, .card p{
    color: #fff;
}

h1::selection, .card h3::selection, .card p::selection{
    background: red;
}