*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
}

header{
    min-height: 80px;
    border: 2px solid #fff;
    background: hsla(0,0%,15%,.2);
    display: flex;
    justify-content: center;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 5px 10px 0 #000;
}

header span{
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

header img{
    width: 75px;
    
}

h1{
    color: #000;
    text-align: center;
    padding: 20px;
    font-size: 3em;
}

h2{
    text-align: center;
    color: blueviolet;
    padding: 10px;
    font-size: 2em;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card{
    height: 200px;
    border: 2px solid #000;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
}

.card:hover{
    background: hsla(0,0%,15%,.2);
}

.card h3{
    font-size: 1.8em;
}

.card h3, .card p{
    color: #000;
}

*::selection{
    background: red;
    color: #000;
}

footer{
    min-height: 100px;
    background: hsla(0,0%,15%,.2);
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000;
    font-size: 24px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0
}

footer div{
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}